/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
/etc
/static
/public
/Resource

# Visual Studio Code
.cache
.vscode
.factorypath
*.code-workspace
/build

# Sublime Text Editor
*.sublime-workspace
*.sublime-project

# Eclipse
.project
.classpath
.settings/
bin/

### STS ###
.apt_generated
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
nb-configuration.xml

# IntelliJ
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
